<!--app-todos/-->
<!--amplify-authenticator>
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
    <h1>Welcome {{ user.username }}!</h1>
    <button (click)="signOut()"> Sign Out</button>
      <app-todos></app-todos>
      
    </ng-template>
  </amplify-authenticator-->

  <amplify-authenticator [formFields]="formFields" [signUpAttributes]="[]">
  <!--amplify-authenticator -->
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
    <h2>Welcome, {{ getUserName() }}!</h2>
    
      <button (click)="signOut()">Sign Out</button>
      <button (click)="printUser(user)">print</button>
      <app-todos></app-todos>
    </ng-template>
  </amplify-authenticator>

